beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
idna==2.10
pkg-resources==0.0.0
pyaes==1.6.1
pyasn1==0.4.8
python-dotenv==0.17.1
requests==2.25.1
rsa==4.7.2
selenium==3.141.0
soupsieve==2.2.1
Telethon==1.21.1
urllib3==1.26.4
